.slider-container .slick-list {
  overflow: visible;
}

.slider-container .slick-slide:not(.slick-active) {
  opacity: 0.5;
}

.slider-container .slick-slide:not(.slick-active) > div {
  transform: scale(0.8);
}