/* ./src/SliderComponent.css */
.slick-slide {
    padding: 0 10px;
  }
  
  .slick-list {
    margin: 0 -10px;
  }
  
  .slick-dots li button:before {
    color: #1e3a8a; /* Tailwind's blue-800 */
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #1e3a8a; /* Tailwind's blue-800 */
  }
  